<div
  class="py-12 px-8 bg-slate-950 border-b border-slate-700 grid grid-cols-1 md:grid-cols-3 text-white gap-y-14"
>
  <div>
    <div class="flex md:justify-center items-center">
      <i class="fa-solid fa-location-dot text-cyan-500 text-5xl me-3"></i>
      <div>
        <div class="text-lg font-bold">Find Us</div>
        <div class="text-sm text-slate-500 font-medium">
          IIT Rupnagar, Rupnagar, Punjab - 140001
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="flex md:justify-center items-center">
      <i class="fa-solid fa-phone text-cyan-500 text-5xl me-3"></i>
      <div>
        <div class="text-lg font-bold">Call Us</div>
        <div class="text-sm text-slate-500 font-medium">+91 95121 19212</div>
      </div>
    </div>
  </div>
  <div>
    <div class="flex md:justify-center items-center">
      <i class="fa-solid fa-envelope text-cyan-500 text-5xl me-3"></i>
      <div>
        <div class="text-lg font-bold">Mail Us</div>
        <div class="text-sm text-slate-500 font-medium">
          robotics@iitrpr.ac.in
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="grid grid-cols-1 lg:grid-cols-3 bg-slate-950 text-white gap-x-14">
  <div class="flex justify-center py-8 lg:py-20 px-8 lg:ps-20 lg:pe-0">
    <div>
      <div class="font-oswald uppercase text-4xl font-semibold">
        Robotics <span class="font-oswald text-cyan-500">Club</span>
      </div>
      <div class="text-xl">IIT Ropar</div>

      <p class="mt-8 text-slate-300">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ratione
        facere impedit. Provident, at praesentium dolorum aut, pariatur, sint
        autem facilis nam consequuntur minima nulla!
      </p>
    </div>
  </div>
  <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
  <div class="flex lg:justify-center px-8 lg:px-0 lg:py-20">
    <div>
      <div class="flex items-center mb-7">
        <div class="heading-line me-5"></div>
        <h1 class="text-2xl lg:text-4xl uppercase font-semibold">
          Useful Links
        </h1>
      </div>

      <ul class="text-slate-300 mt-8">
        <li>
          <a target="_blank" href="http://www.iitrpr.ac.in/"
            ><i class="fa-regular fa-circle-dot text-cyan-500 me-4"></i>Officiak
            Website</a
          >
        </li>
        <li>
          <a target="_blank" href="http://www.iitrpr.ac.in/ismp"
            ><i class="fa-regular fa-circle-dot text-cyan-500 me-4"></i>ISMP</a
          >
        </li>
        <li>
          <a target="_blank" href="http://www.iitrpr.ac.in/ug-section"
            ><i class="fa-regular fa-circle-dot text-cyan-500 me-4"></i>UG
            Academics</a
          >
        </li>
        <li>
          <a target="_blank" href="http://www.iitrpr.ac.in/pg-section"
            ><i class="fa-regular fa-circle-dot text-cyan-500 me-4"></i>PG
            Academics</a
          >
        </li>
        <li>
          <a target="_blank" href="https://www.iitrpr.ac.in/moodle/"
            ><i class="fa-regular fa-circle-dot text-cyan-500 me-4"></i
            >Moodle</a
          >
        </li>
        <li>
          <a target="_blank" href="https://alumni.iitrpr.ac.in/"
            ><i class="fa-regular fa-circle-dot text-cyan-500 me-4"></i>IRIAA</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
  <div class="flex lg:justify-center px-8 lg:px-0 py-8 lg:py-20 lg:pe-20">
    <div>
      <div class="flex items-center mb-7">
        <div class="heading-line me-5"></div>
        <h1 class="text-2xl lg:text-4xl uppercase font-semibold">
          Media Links
        </h1>
      </div>

      <p class="my-8">Connect to us online</p>
      <div class="flex">
        <a target="_blank" href="https://www.instagram.com/robotics_iitrpr/">
          <i
            class="fa-brands fa-instagram text-4xl me-4 transition-all hover:text-cyan-500"
          ></i>
        </a>

        <a
          target="_blank"
          href="https://www.linkedin.com/company/robotics-club-iitrpr"
        >
          <i
            class="fa-brands fa-linkedin-in text-4xl me-4 transition-all hover:text-cyan-500"
          ></i>
        </a>

        <!-- <a target="_blank" href="https://www.instagram.com/robotics_iitrpr/">
          <i
            class="fa-brands fa-facebook-f text-4xl me-4 transition-all hover:text-cyan-500"
          ></i>
        </a>

        <a target="_blank" href="https://www.instagram.com/robotics_iitrpr/">
          <i
            class="fa-brands fa-twitter text-4xl me-4 transition-all hover:text-cyan-500"
          ></i>
        </a> -->
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div
  class="py-8 px-8 lg:px-14 bg-slate-950 lg:flex justify-between border-t border-slate-700"
>
  <div class="text-slate-400">
    Copyrights © 2022-23 Student Affairs IIT Ropar
  </div>

  <div class="text-slate-400 mt-8 lg:mt-0">
    Designed & Developed by |
    <a
      class="text-cyan-500 hover:text-cyan-600 transition-all"
      target="_blank"
      href="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
    >
      Shivam Bhagat
    </a>
  </div>
</div>
