<div
  class="flex fixed top-0 w-full text-white px-14 py-4 items-center justify-between z-50"
>
  <!-- brand -->
  <div>
    <div class="font-oswald uppercase text-3xl font-semibold">
      Robotics <span class="font-oswald text-cyan-500">Club</span>
    </div>
    <div>IIT Ropar</div>
  </div>
  <div class="flex">
    <a id="home" class="link" routerLink="home">Home</a>
    <a id="gallery" class="link" routerLink="gallery">Gallery</a>
    <a id="projects" class="link" routerLink="projects">Projects</a>
    <a id="ourTeam" class="link" routerLink="ourTeam">Our Team</a>
    <a class="link" routerLink="contactUs">Contact Us</a>
  </div>
</div>
