<div>
  <!-- Header Image -->
  <img
    class="fixed top-0 z-0.1"
    src="assets/images/home/home_header.jpg"
    alt=""
  />
  <!-- Header Text -->
  <div class="w-full h-screen overflow-hidden">
    <div class="w-full h-full flex justify-center items-center bg-black/75">
      <div class="text-white text-7xl flex">
        HUMANS
        <div class="line"></div>
        ROBOTS
        <div class="line"></div>
        POSSIBILITIES
      </div>
    </div>
  </div>
  <!-- body -->
  <div class="bg-gray-900 w-full p-14">
    <p class="text-white">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste doloremque
      itaque quia minus saepe earum quam laudantium repudiandae temporibus
      commodi in quibusdam mollitia sint, eligendi pariatur optio veniam harum.
      Sint similique saepe, nisi pariatur hic consectetur voluptatibus
      voluptatum repellendus provident inventore? Aliquid, iusto id incidunt
      dolorem labore optio perferendis commodi obcaecati dicta eligendi rem
      voluptas provident fugiat illum accusantium amet, distinctio nobis itaque
      fugit nesciunt cumque facere minus temporibus velit? Officiis a dolorem
      voluptas aliquam asperiores assumenda labore amet ipsam eum maiores et,
      vel, facilis cum tempora quae fugit delectus nostrum ipsa! Commodi
      expedita eos excepturi, quis necessitatibus molestiae quas.
    </p>
  </div>
</div>
