<div id="wrapper" class="wrapper">
  <!-- Header -->
  <div class="header">
    <img
      class="header-bg w-screen brightness-25"
      src="assets/images/home/home_header.jpg"
    />
    <div class="header-text">
      <div
        class="header-text-flicker lg:flex text-5xl md:text-8xl text-black/0"
        id="header-text-flicker"
      >
        <div class="flex me-10">
          <p class="flicker">R</p>
          <p class="flicker">O</p>
          <p class="flicker">B</p>
          <p class="flicker">O</p>
          <p class="flicker">T</p>
          <p class="flicker">I</p>
          <p class="flicker">C</p>
          <p class="flicker">S</p>
        </div>

        <div class="flex">
          <p class="flicker">C</p>
          <p class="flicker">L</p>
          <p class="flicker">U</p>
          <p class="flicker">B</p>
        </div>
      </div>
      <div
        class="text-cyan-400 lg:text-center text-2xl font-bold"
        id="header-subtext"
      >
        IIT ROPAR
      </div>
    </div>
    <!-- Scroll Button -->
    <div
      class="scroll-button flex items-center justify-center h-16 w-10 border border-slate-200 fixed bottom-5 left-[49%] rounded-xl hover:cursor-pointer"
      (click)="scrollButtonClicked()"
    >
      <i class="fa-solid fa-angles-down text-cyan-500 text-3xl"></i>
    </div>
  </div>
  <!-- body -->

  <div id="main-body" class="bg-gray-900 w-full p-6 lg:p-14 text-white">
    <!-- Paragraph 1 -->
    <div class="flex items-center mb-7">
      <div class="heading-line me-5"></div>
      <h1 class="text-2xl lg:text-4xl uppercase font-semibold">
        Lorem ipsum dolor
      </h1>
    </div>
    <p class="md:text-lg text-slate-300">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
      sapiente sequi quo nesciunt facilis repellat, sint reiciendis cumque aut,
      modi incidunt totam exercitationem odit veritatis atque beatae commodi a
      impedit et soluta iste nam. Odit non expedita nostrum, veniam ratione sint
      eligendi maxime impedit sapiente sunt harum illum praesentium deserunt
      dolor, velit consequuntur a aperiam? Cum qui natus recusandae deserunt
      modi atque eveniet, velit eum illum suscipit sequi minima eligendi quas
      minus harum, fuga fugiat, consequatur autem dolores! Natus suscipit
      repellendus placeat nulla recusandae laboriosam fuga officiis dignissimos
      consequatur, ipsa, consequuntur itaque fugit fugiat vero, aspernatur
      distinctio ad porro reiciendis provident! Quidem dicta quaerat sed
      accusantium animi ipsam, ipsa voluptas quasi maiores id veritatis ipsum
      ratione architecto saepe voluptates. Minima tempora aliquid animi ab earum
      deserunt modi ipsum similique iure necessitatibus ut a, omnis, nostrum
      labore. Quae illo necessitatibus non repudiandae recusandae amet
      dignissimos officiis eius numquam doloremque ratione quod ipsum magnam
      velit, provident debitis obcaecati laudantium. Esse, ab saepe ad
      reiciendis dolorum iure. Aperiam soluta nobis voluptate incidunt a
      veritatis at blanditiis officiis corrupti repellat! Blanditiis aut et
      deserunt a qui in eius quis, vel labore, distinctio quasi dolorem enim
      omnis consequuntur quaerat! Aliquid saepe assumenda nulla aperiam rem.
    </p>
    <!-- Accordian Gallery -->
    <div class="flex items-center my-7">
      <div class="heading-line me-5"></div>
      <h1 class="text-2xl lg:text-4xl uppercase font-semibold">
        Lorem ipsum dolor
      </h1>
    </div>
    <app-accordian-gallery></app-accordian-gallery>
    <!-- Paragraph 2 -->
    <div class="flex items-center my-7">
      <div class="heading-line me-5"></div>
      <h1 class="text-2xl lg:text-4xl uppercase font-semibold">
        Lorem ipsum dolor
      </h1>
    </div>
    <p class="md:text-lg text-slate-300">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
      sapiente sequi quo nesciunt facilis repellat, sint reiciendis cumque aut,
      modi incidunt totam exercitationem odit veritatis atque beatae commodi a
      impedit et soluta iste nam. Odit non expedita nostrum, veniam ratione sint
      eligendi maxime impedit sapiente sunt harum illum praesentium deserunt
      dolor, velit consequuntur a aperiam? Cum qui natus recusandae deserunt
      modi atque eveniet, velit eum illum suscipit sequi minima eligendi quas
      minus harum, fuga fugiat, consequatur autem dolores! Natus suscipit
      repellendus placeat nulla recusandae laboriosam fuga officiis dignissimos
      consequatur, ipsa, consequuntur itaque fugit fugiat vero, aspernatur
      distinctio ad porro reiciendis provident! Quidem dicta quaerat sed
      accusantium animi ipsam, ipsa voluptas quasi maiores id veritatis ipsum
      ratione architecto saepe voluptates. Minima tempora aliquid animi ab earum
      deserunt modi ipsum similique iure necessitatibus ut a, omnis, nostrum
      labore. Quae illo necessitatibus non repudiandae recusandae amet
      dignissimos officiis eius numquam doloremque ratione quod ipsum magnam
      velit, provident debitis obcaecati laudantium. Esse, ab saepe ad
      reiciendis dolorum iure. Aperiam soluta nobis voluptate incidunt a
      veritatis at blanditiis officiis corrupti repellat! Blanditiis aut et
      deserunt a qui in eius quis, vel labore, distinctio quasi dolorem enim
      omnis consequuntur quaerat! Aliquid saepe assumenda nulla aperiam rem.
    </p>
  </div>
  <app-footer></app-footer>
</div>
<script>
  //type anything here
  const text = "flickering";

  const container = document.getElementById("header-text-flicker");
  function createP(text) {
    for (let i = 0; i < text.length; i++) {
      const p = document.createElement("p");
      p.classList.add("flicker");
      container.appendChild(p);
      p.innerHTML = text[i];
    }
  }
  createP(text);
  console.log("hey");

  let temp = 0;
  const myInterval = setInterval(() => {
    const p = document.getElementsByClassName("flicker");
    // const randomNumber = Math.floor(Math.random() * (max - min)) + min;
    const randomNumber = Math.floor(Math.random() * p.length);

    for (let i = 0; i < p.length; i++) {
      p[i].style.transitionDuration = 0 + "s";
    }

    temp = temp + 1;

    if (!p[randomNumber].classList.contains("on") && temp < 100) {
      p[randomNumber].classList.add("on");
    } else {
      if (temp < 100) {
        p[randomNumber].classList.remove("on");
        p[randomNumber].classList.remove("white");
      } else {
        p[randomNumber].classList.add("white");
        p[randomNumber].classList.remove("on");
      }
    }
    if (temp == 600) {
      clearInterval(myInterval);
    }
  }, 20);
</script>
