<div class="container mx-auto my-10">
  <div class="card">
    <img src="assets/images/home/accordion-1.jpg" />
    <div class="card-content">
      <div class="mb-3">lorem ipsum</div>
      <div
        class="group button bg-slate-900 p-2 rounded-md text-lg hover:cursor-pointer hover:bg-slate-950 transition-all font-normal flex justify-between items-center"
      >
        <div>Know More</div>
        <i
          class="fa-solid fa-angles-right text-cyan-500 me-2 group-hover:me-0 transition-all"
        ></i>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/home/accordion-2.jpg" />
    <div class="card-content">
      <div class="mb-3">lorem ipsum</div>
      <div
        class="group button bg-slate-900 p-2 rounded-md text-lg hover:cursor-pointer hover:bg-slate-950 transition-all font-normal flex justify-between items-center"
      >
        <div>Know More</div>
        <i
          class="fa-solid fa-angles-right text-cyan-500 me-2 group-hover:me-0 transition-all"
        ></i>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/home/accordion-3.jpg" />
    <div class="card-content">
      <div class="mb-3">lorem ipsum</div>
      <div
        class="group button bg-slate-900 p-2 rounded-md text-lg hover:cursor-pointer hover:bg-slate-950 transition-all font-normal flex justify-between items-center"
      >
        <div>Know More</div>
        <i
          class="fa-solid fa-angles-right text-cyan-500 me-2 group-hover:me-0 transition-all"
        ></i>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/home/accordion-4.jpg" />
    <div class="card-content">
      <div class="mb-3">lorem ipsum</div>
      <div
        class="group button bg-slate-900 p-2 rounded-md text-lg hover:cursor-pointer hover:bg-slate-950 transition-all font-normal flex justify-between items-center"
      >
        <div>Know More</div>
        <i
          class="fa-solid fa-angles-right text-cyan-500 me-2 group-hover:me-0 transition-all"
        ></i>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="assets/images/home/accordion-5.jpg" />
    <div class="card-content">
      <div class="mb-3">lorem ipsum</div>
      <div
        class="group button bg-slate-900 p-2 rounded-md text-lg hover:cursor-pointer hover:bg-slate-950 transition-all font-normal flex justify-between items-center"
      >
        <div>Know More</div>
        <i
          class="fa-solid fa-angles-right text-cyan-500 me-2 group-hover:me-0 transition-all"
        ></i>
      </div>
    </div>
  </div>
</div>
